{% set page = 'contacts' %}
{% set title = 'Contact Us' %}
{% extends 'ck.html' %}

{% block content %}

    <div class="container pt-3 pt-md-5 pb-5 mb-auto">
                <h1>Get in touch with the CK community</h1>
                    <ul>
                        <li>
                            The <a href="http://cTuning.org">international cTuning foundation</a>
                            (non-profit R&D organization) and <a href="http://dividiti.com">dividiti</a>
                            lead the international consortium to coordinate the development, usage
                            and standardization of the open-source Collective Knowledge technology (CK)
                            and reusable AI/ML components.
                            We help researchers to adopt CK while automating and unifying
                            tedious <a href="http://cKnowledge.org/repo">benchmarking, optimization and co-design</a>
                            of the efficient software/hardware stack for emerging workloads (AI, ML, quantum)
                            in terms of speed, accuracy, energy, size, costs and other metrics across diverse models,
                            data sets, libraries, frameworks and platforms
                            using portable, customizable and open-source CK workflows.
                            <p><p>
                            <b>Contact <a href="mailto:admin@cTuning.org;info@dividiti.com">cTuning foundation and dividiti</a></b>
                            if you are interested to join the CK consortium or you need our help
                            to automate your experiments, minimize R&D costs, accelerate knowledge discovery
                            particularly for <a href="http://cKnowledge.org/ai.html">AI and ML</a>,
                            and facilitate technology transfer!
                        </li>
                        <li>
                            Join technical and research discussions using <a href="https://groups.google.com/forum/#!forum/collective-knowledge">Collective Knowledge</a>
                            or <a href="http://groups.google.com/group/ctuning-discussions">cTuning</a> mailing lists.
                        </li>
                        <li>
                            Join <a href="https://groups.google.com/forum/#!forum/artifact-evaluation">Artifact Evaluation google group</a>
                            to participate in discussions on reproducible research at systems and ML conferences.
                        </li>
                        <li>
                            Join our <a href="https://www.linkedin.com/groups?home=&gid=7433414&trk=my_groups-tile-grp">LinkedIn group</a> on collaborative and reproducible systems/ML/AI research.
                        </li>
                        <li>
                            Join <a href="https://collective-knowledge.slack.com">CK slack channel</a>
                            or catch us on IRC channel <a href="irc://irc.freenode.com:6667/ctuning">#ctuning @ freenode.net</a>
                            (you may need to ping us in advance since we moved to Slack).
                        </li>
                        <li>
                            Follow CK-related news on <a href="https://twitter.com/c_tuning">non-profit cTuning foundation twitter</a>,
                            <a href="https://ctuning-foundation.blogspot.com">cTuning blog</a>,
                            <a href="https://www.facebook.com/pages/CrowdTuning-Foundation/668405119902805">cTuning facebook</a>,
                            <a href="https://twitter.com/dividiti">dividiti twitter</a> and
                            <a href="https://dividiti.blogspot.com">dividiti blog</a>.
                        </li>
                   </ul>
    </div>

{% endblock %}
