{% set page = 'partners' %}
{% set title = 'Collective Knowledge Partners' %}
{% extends 'ck.html' %}

{% block content %}

<div class="main-content">

        <div class="container container-wrapped dvdt-card-partner mt-5">
            <div id="mlperf"></div>
            <div class="dvdt-card-logos">
                <a href="https://mlperf.org">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-mlperf.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                CK is the first modular framework to enable portable, customizable and reusable workflows 
                for automated benchmarking, validation and visualization of emerging
                AI and ML workloads across diverse platforms from supercomputers to IoT.
                It is developed with the help of the community and successfully used in reproducible benchmarking 
                and optimization tournaments. 
                It also helps to modularize and automate existing benchmarks such as <a href="https://mlperf.org">MLPerf</a> 
                (a broad ML benchmark suite for measuring performance of ML software frameworks, 
                ML hardware accelerators, and ML cloud platforms).
            </div>
            <div class="dvdt-card-links">
                <a class="dvdt-a-github" href="https://github.com/mlperf/inference/pull/6">CK workflow for object detection (MobileNets)</a>
                <a class="dvdt-a-github" href="http://cKnowledge.org/dashboard">CK dashboard for inference</a>
                <a class="dvdt-a-external" href="http://cKnowledge.org/request.html">AI/ML competitions</a>
            </div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="gm"></div>
            <div class="dvdt-card-logos">
                <a href="http://www.gm.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-general-motors.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <a href="https://www.gm.com">General Motors</a> uses CK to crowd-benchmark and crowd-tune DNN engines and models. See GM's presentation
                from the Embedded Vision Summit about CK-powered CNN/SW/HW benchmarking
                <a href="https://www.youtube.com/watch?v=1ldgVZ64hEI">here</a>:
            </div>
            <div class="dvdt-card-media">
                <iframe width="272" height="153" src="https://www.youtube.com/embed/1ldgVZ64hEI?rel=0" frameborder="0" allowfullscreen></iframe>
                <img src="_resources/partners/ck-dnn-live-crowd-optimization-dashboard-1.jpg">
            </div>
            <div class="dvdt-card-links">
                <a class="dvdt-a-github" href="https://github.com/dividiti/ck-caffe">CK Caffe workflow</a>
                <a class="dvdt-a-github" href="https://github.com/ctuning/ck-tensorflow">CK TensorFlow workflow</a>
            </div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="arm"></div>
            <div class="dvdt-card-title"></div>
            <div class="dvdt-card-logos">
                <a href="http://www.arm.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-arm.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p>
                    <a href="https://www.arm.com">Arm</a> is one of the first and main users of the Collective Knowledge Technology to design more efficient
                    computer systems for emerging workloads such as deep learning across the whole SW/HW stack from IoT to
                    HPC. See
                    <a href="http://dividiti.blogspot.com/2017/09/video-from-arm-presenting-our.html">Arm's video from the Embedded Vision Summit</a>
                    about
                    <a href="http://cKnowledge.org/ai.html">CK-powered collaborative DNN co-design</a>,
                    <a href="https://www.hipeac.net/assets/public/publications/newsletter/hipeacinfo45.pdf">HiPEAC info (page 17)</a>
                    for more details about Arm and the cTuning foundation using CK to accelerate computer engineering, and a demo about
                    <a class="dvdt-a-github" href="https://github.com/ctuning/ck/wiki/Demo-ARM-TechCon'16">connecting CK and Arm's workload automation, and building a representative set of applications and data
                        sets</a>
                    from Arm TechCon'16.</p>
            </div>
            <div class="dvdt-card-media">
                <iframe src="https://www.youtube.com/embed/f4CfMrGPJPY" frameborder="0" allowfullscreen></iframe>
                <a href="http://cKnowledge.org/ai.html">
                    <img src="_resources/partners/dividiti_arm_stand.jpg">
                </a>
            </div>
            <div class="dvdt-card-links"></div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="acm"></div>
            <div class="dvdt-card-title"></div>
            <div class="dvdt-card-logos">
                <a href="http://dl.acm.org">
                    <img class="dvdt-card-logos-lg" src="_resources/partners/logo-acm.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p>
                    <a href="http://www.acm.org">Association for Computing Machinery (ACM)</a>
                    evaluates
                    <a href="http://cKnowledge.org">Collective Knowledge</a>
                    for sharing artifacts and experimental workflows as reusable and customizable components along with
                    <a href="http://dl.acm.org/docs/reproducibility.cfm">reproducible publications</a>
                    as a part of the
                    <a href="http://cTuning.org/ae">Artifact Evaluation</a> initiative.</p>
            </div>
            <div class="dvdt-card-media">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/DIkZxraTmGM" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="dvdt-card-links">
                <a class="dvdt-a-video" href="http://dl.acm.org/citation.cfm?id=3068854&picked=formats&CFID=980302216&CFTOKEN=11225679">ACM CK video</a>
            </div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="quantum"></div>
            <div class="dvdt-card-logos">
                <a href="http://ibm.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-ibm.png" />
                </a>
                <a href="http://dividiti.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-dvdt.png" />
                </a>
                <a href="http://riverlane.io">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-riverlane.png" />
                </a>
                <a href="http://thoughtworks.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-tw.png" />
                </a>
                <a href="https://www.gov.uk/government/organisations/innovate-uk">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-innovate-uk2.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
               A growing community of quantum computing experts and enthusiasts is building <a href="quantum.html">Quantum Collective Knowledge (QCK)</a> -
               a unified workflow to benchmark, compare and optimize traditional and quantum algorithms, and forecast future developments in quantum computing. 
               CK also supports regular, collaborative and reproducible Quantum hackathons while sharing all experimental results on a live
               <a href="http://cKnowledge.org/results">scoreboard</a>:
            </div>
            <div class="dvdt-card-links">
                <a class="dvdt-a-external" href="https://www.meetup.com/London-Quantum-Computing-Meetup/events/254156028/254156028">Meetup page with photos and comments</a>
                <a class="dvdt-a-github" href="https://www.linkedin.com/pulse/reproducing-quantum-results-from-nature-how-hard-could-lickorish/">IBM blog post "Reproducing Quantum results from Nature - how hard could it be?"</a>
                <a class="dvdt-a-external" href="http://cKnowledge.org/results">QCK scoreboard</a>
                <a class="dvdt-a-github" href="https://github.com/ctuning/ck-quantum">CK-Quantum workflows</a>
                <a class="dvdt-a-github" href="https://github.com/ctuning/ck-qiskit">CK-Qiskit workflows</a>
            </div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="request"></div>
            <div class="dvdt-card-logos justify-content-around justify-content-md-start">
                <a href="https://www.cornell.edu">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-cornell-university.png" />
                </a>
                <a href="https://www.utoronto.ca/">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-university-of-toronto.png" />
                </a>
                <a href="https://www.washington.edu">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-university-of-washington.png" />
                </a>
                <a href="https://www.cam.ac.uk/">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-university-of-cambridge.png" />
                </a>
                <a href="https://www.epfl.c">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-epfl.png" />
                </a>
                <a href="http://dividiti.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-dvdt.png" />
                </a>
                <a href="http://cTuning.org">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-ctuning-foundation.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <a href="request.html">ReQuEST consortium</a>
                is developing a scalable and CK-powered tournament framework, a <a href="http://cTuning.org/ae">common experimental methodology</a> and an open repository
                to co-design and share the whole Pareto-efficient software/hardware stacks (accuracy, speed, energy, size, costs)
                for real-world applications and emerging workloads such as AI and ML across diverse models, data sets and platforms
                from cloud to edge.
                ReQuEST also promotes reproducibility of experimental results and reusability of systems research artifacts
                by standardizing evaluation methodologies and facilitating the deployment of efficient solutions on heterogeneous
                platforms. The organizers develop a supporting open-source and portable workflow framework to provide unified
                evaluation and real-time leader-board of shared solutions. ReQuEST promotes quality-awareness to the architecture
                and systems community, and resource-awareness to the applications community and end-users. We will keep and
                continuously update the best or original solutions close to a Pareto frontier in a multi-dimensional space
                of accuracy, execution time, power consumption, memory usage, resiliency, code/hardware/model size, costs
                and other metrics in a public repository.
            </div>
            <div class="dvdt-card-links">
                <a class="dvdt-a-external" href="http://cKnowledge.org/request">ReQuEST website</a>
                <a class="dvdt-a-text" href="https://portalparts.acm.org/3230000/3229762/fm/frontmatter.pdf">ReQuEST-ASPLOS'18 report</a>
                <a class="dvdt-a-text" href="https://doi.org/10.1145/3229762">ACM ReQuEST-ASPLOS'18 proceedings</a>
                <a class="dvdt-a-github" href="https://github.com/ctuning/ck-request-asplos18-results"> CK workflows for all accepted submissions</a>
                <a class="dvdt-a-text" href="https://cKnowledge.org/dashboard/request.asplos18">ReQuEST-ASPLOS'18 scoreboard/repository</a>
                <a class="dvdt-a-text" href="https://arxiv.org/abs/1801.06378">arXiv intro </a>
            </div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="amazon"></div>
            <div class="dvdt-card-logos">
                <a href="http://www.amazon.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-amazon.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <a href="https://www.amazon.com">Amazon</a> evaluates CK to help users optimize performance, accuracy and speed of AI applications in AWS:
            </div>
            <div class="dvdt-card-links">
                <a class="dvdt-a-github" href="https://conferences.oreilly.com/artificial-intelligence/ai-eu/public/schedule/detail/71549">Joint presentation at O'Reilly AI conference 2018</a>
                <a class="dvdt-a-github" href="https://www.slideshare.net/GrigoriFursin/accelerating-open-science-and-ai-with-automated-portable-customizable-and-reusable-research-components-and-workflows">Recent presentation about CK concepts, practical use-cases and long-term vision</a>.
            </div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="tomtom"></div>
            <div class="dvdt-card-title"></div>
            <div class="dvdt-card-logos">
                <a href="http://www.tomtom.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-tomtom.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p>We collaborate with colleagues from <a href="https://www.tomtom.com">TomTom</a>
                    on a model-driven approach for a new generation of adaptive libraries, while automating and
                    crowdsourcing experiments and ML-based modeling using the Collective Knowledge framework.</p>
            </div>
            <div class="dvdt-card-links">
                <a class="dvdt-a-text" href="https://arxiv.org/abs/1806.07060">ArXiv report</a>
            </div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="rpi"></div>
            <div class="dvdt-card-title"></div>
            <div class="dvdt-card-logos">
                <a href="https://www.raspberrypi.org">
                    <img class="dvdt-card-logos-lg" src="_resources/partners/logo-raspberry-pi.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p>We collaborate with
                    <a href="https://www.raspberrypi.org">Raspberry Pi foundation</a>
                    for a new educational initiative to teach students and researchers how to automatically optimize and test (autotuning, crowd-tuning
                    and crowd-fuzzing) realistic workloads in terms of speed, size, energy usage, accuracy and costs across
                    diverse software and hardware stack using
                    <a href="http://github.com/ctuning/ck">CK workflow framework</a> and
                    <a href="http://cKnowledge.org/repo">open optimization repository</a>.</p>
            </div>
            <div class="dvdt-card-media"></div>
            <div class="dvdt-card-links">
                <a class="dvdt-a-text" href="https://arxiv.org/abs/1801.08024">arXiv report</a>
                <a class="dvdt-a-text" href="http://cKnowledge.org/rpi-crowd-tuning">interactive CK report</a>
                <a class="dvdt-a-github" href="https://github.com/ctuning/ck-rpi-optimization-results">GitHub</a>
            </div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="university_of_toronto"></div>
            <div class="dvdt-card-title"></div>
            <div class="dvdt-card-logos">
                <a href="http://www.cs.toronto.edu/ecosystem/index.html">
                   <img class="dvdt-card-logos-md" src="_resources/partners/logo-university-of-toronto.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p>We collaborate with the <a href="http://www.cs.toronto.edu/ecosystem/index.html">EcoSystem Lab</a> 
                   from the University of Toronto 
                   led by <a href="http://www.cs.toronto.edu/~pekhimenko/">Professor Gennady Pekhimenko</a>
                   to develop portable, customizable and reusable AI benchmarks 
                   based on the open-source <a href="http://tbd-suite.ai">TBD suite</a> 
                   and the <a href="https://github.com/ctuning/ck-tbd">Collective Knowledge Workflow framework</a>.
                   The release is expected at the end of 2018.</p>

            </div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="eu"></div>
            <div class="dvdt-card-title"></div>
            <div class="dvdt-card-logos">
                <a href="http://cordis.europa.eu/fp7">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-7th-framework-programme.png" />
                </a>
                <a href="http://tetracom.eu">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-tetracom.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p>The
                    <a href="http://cTuning.org">non-profit cTuning foundation</a>
                    and
                    <a href="http://dividiti.com">dividiti</a> regularly help various international projects (
                    <a href="http://github.com/ctuning/reproduce-milepost-project">MILEPOST,
                        <a class="dvdt-a-github" href="https://github.com/ctuning/reproduce-carp-project">CARP</a>,
                        <a class="dvdt-a-github" href="https://github.com/ctuning/reproduce-pamela-project">PAMELA</a>) and assist scientists in crowdsourcing and reproducing experiments, and developing customizable
                        and sustainable research software powered by
                        <a href="http://cKnowledge.org">CK</a>
                        which can now survive in a Cambrian AI/SW/HW chaos or when leading researchers leave!</p>
            </div>
            <div class="dvdt-card-media"> </div>
            <div class="dvdt-card-links"></div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="glasgow"></div>
            <div class="dvdt-card-title"></div>
            <div class="dvdt-card-logos">
                <a href="https://www.gla.ac.uk">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-university-of-glasgow.png" />
                </a>
                <a href="https://www.ed.ac.uk">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-university-of-edinburgh.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p>We help colleagues from the University of Edinburgh and Glasgow use CK to automate and crowdsource optimization
                    of mathematical libraries and compilers.</p>
            </div>
            <div class="dvdt-card-media"></div>
            <div class="dvdt-card-links">
                <a class="dvdt-a-text" href="https://michel-steuwer.github.io/About-CK">Michel Steuwer blog about CK</a>
            </div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="ens"></div>
            <div class="dvdt-card-title"></div>
            <div class="dvdt-card-logos">
                <a href="https://www.ens.fr">
                    <img class="dvdt-card-logos-lg" src="_resources/partners/logo-ens-paris.png" style="height:100px" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p>We help colleagues from
                    <a href="http://www.ens.fr">ENS Paris</a> to automate and crowdsource polyhedral optimization using CK. </p>
            </div>
            <div class="dvdt-card-media"></div>
            <div class="dvdt-card-links"></div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="hartree"></div>
            <div class="dvdt-card-title"></div>
            <div class="dvdt-card-logos">
                <a href="https://www.hartree.stfc.ac.uk">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-hartree-centre.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p>We assist colleagues from
                    <a href="https://www.hartree.stfc.ac.uk">Hartree SuperComputing Center</a> to use CK for customizable and sustainable experimental workflows and
                    collaboratively optimize realistic workloads across various HPC systems.</p>
            </div>
            <div class="dvdt-card-media"></div>
            <div class="dvdt-card-links"></div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="xored"></div>
            <div class="dvdt-card-title"></div>
            <div class="dvdt-card-logos">
                <a href="http://xored.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-xored.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p>
                    <a href="http://xored.com">Xored</a> develops various open-source CK extensions since 2016 including
                    <a class="dvdt-a-github" href="https://github.com/dividiti/ck-crowdsource-dnn-optimization">DNN engine optimization front-end</a>
                    and
                    <a href="android-apps.html">Android app to crowdsource DNN benchmarking</a>.
                </p>
            </div>
            <div class="dvdt-card-media">
                <a class="dvdt-a-github" href="https://github.com/dividiti/ck-crowdsource-dnn-optimization">
                    <img src="_resources/partners/ck-dnn-live-crowd-optimization-dashboard-2.jpg">
                </a>
            </div>
            <div class="dvdt-card-links"></div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="cambridge"></div>
            <div class="dvdt-card-title"></div>
            <div class="dvdt-card-logos">
                <a href="https://www.cam.ac.uk/">
                    <img class="dvdt-card-logos-lg" src="_resources/partners/logo-university-of-cambridge.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p>
                    <a href="https://www.cam.ac.uk">University of Cambridge</a> colleagues use
                    <a href="http://cKnowledge.org">Collective Knowledge framework</a>
                    to develop sustainable software, accelerate research, automate experimentation and reuse artifacts. For example, portable
                    and reproducible experimental workflow from the "Software Prefetching for Indirect Memory Accesses" article
                    by Sam Ainsworth and Timothy M. Jones received a distinguished artifact award at CGO'17.
                    <a href="android-apps.html">Android app to crowdsource DNN benchmarking</a>.</p>
            </div>
            <div class="dvdt-card-media">
            </div>
            <div class="dvdt-card-links">
                <a class="dvdt-a-github" href="https://github.com/SamAinsworth/reproduce-cgo2017-paper">GitHub artifacts</a>
                <a class="dvdt-a-text" href="http://ctuning.org/ae/resources/paper-with-distinguished-ck-artifact-and-ae-appendix-cgo2017.pdf">Paper with AE appendix and CK workflow</a>
                <a class="dvdt-a-doc" href="https://github.com/SamAinsworth/reproduce-cgo2017-paper/files/618737/ck-aarch64-dashboard.pdf">PDF snapshot of the interactive CK dashboard</a>
            </div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="imperial"></div>
            <div class="dvdt-card-title"></div>
            <div class="dvdt-card-logos">
                <a href="https://www.ic.ac.uk/">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-imperial-college-london.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p>
                    <a href="http://multicore.doc.ic.ac.uk/">Alastair Donaldson's group</a>
                    uses CK to automate and crowdsource detection of compiler bugs (crowd-fuzzing of traditional, OpenCL and OpenGL compilers).
                    TETRACOM project "CLmith in Collective Knowledge" won
                    <a href="https://www.hipeac.net/press/6801/hipeac-tech-transfer-awards-announced/">HiPEAC technology transfer award in 2016</a>.</p>
            </div>
            <div class="dvdt-card-media">
            </div>
            <div class="dvdt-card-links">
                <a class="dvdt-a-github" href="https://github.com/ctuning/ck-clsmith">CK-CLsmith GitHub repo</a>
            </div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="ctuning"></div>
            <div class="dvdt-card-title"></div>
            <div class="dvdt-card-logos">
                <a href="http://cTuning.org">
                    <img class="dvdt-card-logos-lg" src="_resources/partners/logo-ctuning-foundation.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p>Non-profit
                    <a href="http://cTuning.org">cTuning foundation</a> is the main coordinator and sponsor of all CK developments and CK-powered educational
                    initiatives such as
                    <a href="http://cTuning.org/ae">Artifact Evaluation</a>. It also partnered with
                    <a href="http://dividiti.com">dividiti</a> to facilitate technology transfer from academia to industry while boosting innovation in
                    science and technology!</p>
            </div>
            <div class="dvdt-card-media">
                <iframe width="560" height="240" src="https://www.youtube.com/embed/Q94yWxXUMP0?rel=0&showinfo=1&autoplay=0" frameborder="0"
                    allowfullscreen></iframe>
                <object name="player" id="_fp_0.14536583935841918" width="600" height="338" data="https://gricad.univ-grenoble-alpes.fr/sites/gricad/libraries/flowplayer/flowplayer-3.2.18.swf"
                    type="application/x-shockwave-flash">
                    <param value="true" name="allowfullscreen" />
                    <param value="always" name="allowscriptaccess" />
                    <param value="transparent" name="wmode" />
                    <param value="high" name="quality" />
                    <param name="movie" value="https://gricad.univ-grenoble-alpes.fr/sites/gricad/libraries/flowplayer/flowplayer-3.2.18.swf"
                    />
                    <param value="config=%7B%22plugins%22%3A%7B%22sharing%22%3A%7B%22url%22%3A%22https%3A//gricad.univ-grenoble-alpes.fr/sites/gricad/libraries/flowplayer/flowplayer.sharing/flowplayer.sharing-3.2.15.swf%22%2C%22callType%22%3A%22default%22%7D%7D%2C%22playlist%22%3A%5B%7B%22url%22%3A%22http%3A//newstream.imag.fr/2017-03-14_Reproducible-Research_Grigori-Fursin.mp4%22%2C%22autoPlay%22%3Afalse%7D%5D%2C%22clip%22%3A%7B%22pageUrl%22%3A%22https%3A//gricad.univ-grenoble-alpes.fr/video/enabling-open-and-reproducible-research-computer-systems-conferences-good-bad-and-ugly%22%2C%22url%22%3A%22http%3A//newstream.imag.fr/2017-03-14_Reproducible-Research_Grigori-Fursin.mp4%22%2C%22autoPlay%22%3Afalse%7D%7D"
                        name="flashvars" />
                </object>
            </div>
            <div class="dvdt-card-links"></div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="dividiti"></div>
            <div class="dvdt-card-title"></div>
            <div class="dvdt-card-logos">
                <a href="http://dividiti.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-dvdt.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p>
                    <a href="http://dividiti.com">dividiti</a> sponsors development of the
                    <a href="https://github.com/ctuning/ck">open-source research SDK (CK)</a>,
                    <a href="http://cKnowledge.org/repo">public repository of optimization knowledge</a>,
                    <a href="http://cTuning.org/ae">scientific methodology for computer engineering</a>. dividiti brings together academia and industry to
                    develop sustainable and customizable research software powered by CK, facilitate technology transfer
                    in many of the above projects, initiate and lead innovative R&D projects powered by CK, and help scientists
                    to adapt to a Cambrian AI/SW/HW explosion and technological chaos.</p>
                <div class="dvdt-card-media">
                    <a href="https://github.com/dividiti/ck-crowdsource-dnn-optimization">
                        <img src="_resources/partners/ck-dnn-live-crowd-optimization-dashboard-2.jpg">
                    </a>
                    <a href="http://cKnowledge.org/repo">
                        <img src="_resources/partners/ck-dnn-driving.jpg">
                    </a>
                    <a href="https://github.com/dividiti/ck-crowdsource-dnn-optimization">
                        <img src="_resources/partners/dividiti_arm_stand.jpg">
                    </a>
                </div>
                <div class="dvdt-card-links"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

<script>
    
var waypoints = [];

Array.from(document.getElementsByClassName('dvdt-card-partner')).forEach( anchor => {

    var anchorId = anchor.children[0].getAttribute('id');

    waypoints[anchorId] = new Waypoint({
        element: document.getElementById(anchorId),
        handler: function() {
            if (document.getElementsByClassName('anchor-link-active')) document.getElementsByClassName('anchor-link-active').item(0).classList.remove('anchor-link-active');
            if (document.getElementById('link-' + anchorId)) document.getElementById('link-' + anchorId).classList.add('anchor-link-active')
        },
        continuous: false,
        offset: 0
    });
})

function anchorHighlight(linkId) {
    document.getElementById(linkId).childNodes.classList.add('anchor-link-active')
};

var menu = $('#partners-hor-scroll');
var scrollSize = $('#partners-hor-scroll').get(0);
var scrollMax = scrollSize.scrollWidth - scrollSize.clientWidth;
var menuPosition = 0;

function arrowController() {
    
    if ( menuPosition == 0 ) {
        $('#partners-arrow-left').hide();
    } else if (menuPosition >= scrollMax ) {
        $('#partners-arrow-right').hide();
    } else {
        $('.submenu-arrow').show();
    }    
}

$('#partners-arrow-right').click(function () {
    menuPosition += 320;
    menu.animate({ scrollLeft: menuPosition }, 200, arrowController());
});

$('#partners-arrow-left').click(function () {
    menuPosition -= 320;
    menu.animate({ scrollLeft: menuPosition }, 200, arrowController());
});

arrowController();

window.addEventListener('resize', function() {
    menu = $('#partners-hor-scroll');
    scrollSize = $('#partners-hor-scroll').get(0);
    scrollMax = scrollSize.scrollWidth - scrollSize.clientWidth;
    arrowController();
});

</script>

{% endblock %}
