{% set page = 'quantum' %}
{% set title = 'Collective Knowledge for Quantum Computing' %}
{% extends 'ck.html' %}

{% block content %}

    <div class="container pt-3 pt-md-5 mb-5">
        <div class="container">
            <h1>Quantum Collective Knowledge</h1>
        </div>
        <div class="container">
            <p class="pt-2">
Quantum computers have the potential to solve certain problems dramatically faster than conventional computers, with applications in areas such as machine learning, drug discovery, materials, optimization, finance and cryptography.
            </p>
            <p class="pt-2">
It is not known yet when the first demonstration of quantum advantage will be achieved, or what shape it will take, but even when that happens one thing is certain: to make <b>scalable</b> quantum computing a reality, we must enable effective aggregation and sharing of multidisciplinary knowledge.
            </p>
            <p class="pt-2">
Together with a growing community of quantum computing experts and enthusiasts, we are building Quantum Collective Knowledge (QCK) to pinpoint the state-of-the-art and forecast future developments in quantum computing.
            </p>
            <p class="pt-2">
                <i>
                In contrast with other initiatives, QCK uses <a href="https://github.com/ctuning/ck-quantum">unified workflows with reusable components</a> 
                which can run on classical and quantum platforms, can be extended by the community, 
                and are connected to a public <a href="http://cKnowledge.org/dashboard">dashboard</a>
                to simplify reproducibility and comparison of different algorithms across different platforms!
                We hope that QCK will be instrumental to unlock the power of quantum computing for everyone!
                </i>
            </p>

	    <p class="pt-2">
                <i>
		If you would like to discuss collaboration opportunities or join our dedicated <a href="https://collective-knowledge.slack.com">QCK Slack channel</a>,
		please <a href="mailto:info@dividiti.com?subject=Quantum Collective Knowledge">drop us a message.</a>.
                </i>
            </p>
	</div>

        <div class="container mt-5">
            <h2>QCK Challenges</h2>
        </div>

        
        <div class="container container-wrapped dvdt-card-partner">
            <div id="challenge1"></div>
            <h3>1st Open QCK Challenge</h3>
            <div class="dvdt-card-logos justify-content-around justify-content-md-start">
                <a href="http://dividiti.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-dvdt.png" />
                </a>
                <a href="http://riverlane.io">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-riverlane.png" />
                </a>
                <a href="http://ibm.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-ibm.png" />
                </a>
                <a href="http://rigetti.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-rigetti.svg" />
                </a>
            </div>
            <div class="dvdt-card-desc">
              <p class="pt-2">
	      We are thrilled to launch the 1st Open QCK Challenge! We gratefully acknowledge support from IBM, Rigetti and <a href="http://innovateuk.org">Innovate UK</a> in preparing and running the challenge.
              </p>
            </div>
            <div class="dvdt-card-links">
                <a class="dvdt-a-external" href="https://www.linkedin.com/pulse/first-open-quantum-collective-knowledge-challenge-anton-lokhmotov/">LinkedIn announcement</a>
                <a class="dvdt-a-external" href="http://cknowledge.org/dashboard/challenge.vqe">QCK dashboard</a>
                <a class="dvdt-a-github" href="https://github.com/ctuning/ck-quantum/tree/master/module/challenge.vqe">QCK workflows</a>
		<a class="dvdt-a-github" href="https://github.com/ctuning/ck-quantum/wiki/VQE-and-You">QCK wiki</a>
            </div>
        </div>

        <div class="container mt-5">
            <h2>QCK Hackathons</h2>
        </div>

        <div class="container container-wrapped dvdt-card-partner mt-3 mb-1">
            <div id="hackathon3"></div>
            <h3>4th QCK Hackathon, Oxford, 15 March 2019</h3>
            <div class="dvdt-card-logos justify-content-around justify-content-md-start">
                <a href="http://dividiti.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-dvdt.png" />
                </a>
                <a href="http://riverlane.io">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-riverlane.png" />
                </a>
                <a href="http://ibm.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-ibm.png" />
                </a>
                <a href="http://nqit.ox.ac.uk">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-nqit.svg" />
                </a>
                <a href="http://sa.catapult.org.uk">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-sa-catapult.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p class="pt-2">
		We are organizing our fourth QCK hackathon in Oxford, UK. Stay tuned!
                </p>
            </div>
            <div class="dvdt-card-links">
		    <a class="dvdt-a-external" href="https://www.eventbrite.com/e/quantum-computing-hackathon-for-the-space-sector-tickets-53387460331">Eventbrite page with further info</a>
                <a class="dvdt-a-external" href="http://cKnowledge.org/dashboard">QCK dashboard</a>
                <a class="dvdt-a-github" href="https://github.com/ctuning/ck-quantum/">QCK workflows</a>
                <a class="dvdt-a-github" href="https://github.com/ctuning/ck-qiskit">CK-Qiskit workflows</a>
            </div>
        </div>

        <div class="container container-wrapped dvdt-card-partner mt-3 mb-1">
            <div id="hackathon3"></div>
            <h3>3rd QCK Hackathon, Paris, 27 January 2019</h3>
            <div class="dvdt-card-logos justify-content-around justify-content-md-start">
                <a href="http://ibm.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-ibm.png" />
                </a>
                <a href="http://dividiti.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-dvdt.png" />
                </a>
                <a href="http://riverlane.io">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-riverlane.png" />
                </a>
                <a href="https://www.quantonation.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-quantonation.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p class="pt-2">
		We organized our third QCK hackathon at <a href="https://en.wikipedia.org/wiki/42_(school)">School 42</a> in Paris,
		which was also the very first quantum hackathon to be held in France!

	        Over 80 participants, ranging from undergraduate and graduate students to startup founders to experienced professionals from IBM and
		<a href="https://home.cern/">CERN</a>, worked together to solve a brand new set of problems in Quantum Machine Learning!
                </p>
            </div>
            <div class="dvdt-card-links">
                <a class="dvdt-a-external" href="https://www.meetup.com/Paris-Quantum-Computing-Technologies/events/256367871">Meetup page with further info</a>
                <a class="dvdt-a-external" href="http://cKnowledge.org/dashboard/hackathon.20190127">QCK dashboard</a>
                <a class="dvdt-a-github" href="https://github.com/ctuning/ck-quantum/blob/master/module/hackathon.20190127/README.md">QCK workflows</a>
                <a class="dvdt-a-github" href="https://github.com/ctuning/ck-qiskit">CK-Qiskit workflows</a>
            </div>
        </div>

        <div class="container container-wrapped dvdt-card-partner mt-lg-5">
            <div id="hackathon2"></div>
            <h3>2nd QCK Hackathon, London, 6 October 2018</h3>
            <div class="dvdt-card-logos justify-content-around justify-content-md-start">
                <a href="http://ibm.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-ibm.png" />
                </a>
                <a href="http://dividiti.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-dvdt.png" />
                </a>
                <a href="http://riverlane.io">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-riverlane.png" />
                </a>
                <a href="http://thoughtworks.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-tw.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
                <p class="pt-2">
                We organized our second QCK hackathon in London, UK.

                Over 40 participants collaborated in teams to solve a quantum chemistry problem, and for the day were given priority access to <a href="https://www.research.ibm.com/ibm-q/">IBM Quantum Experience</a> machines, including a 16-bit quantum computer.

                Thanks to QCK, the participants had the opportunity to build upon the knowledge gained from the first hackathon and view experimental results on a live
                <a href="http://cKnowledge.org/dashboard/hackathon.20181006">dashboard</a>.
                </p>
                    <p class="pt-2">
                    Some participants commented after the event:
                    <ul>
                        <li>"My first hackathon! really great day! I loved it, learned a lot, good mix of people, good interaction, helpdesk, well facilitated. thank you very much!!!"</li>
                        <li>"That was a unique and brilliant hackathon; a gateway to further QC for more people. :)"</li>
                        <li>"Great day. Really interesting talks, hands-on coding and great opportunity to talk to people with similar interests. I came away feeling that I'd learned a lot."</li>
                    </ul>
                </p>
            </div>
            <div class="dvdt-card-links">
                <a class="dvdt-a-external" href="https://www.meetup.com/London-Quantum-Computing-Meetup/events/254156028/">Meetup page with photos and comments</a>
                <a class="dvdt-a-external" href="http://cknowledge.org/dashboard/hackathon.20181006">QCK dashboard</a>
                <a class="dvdt-a-github" href="https://github.com/ctuning/ck-quantum/tree/master/module/hackathon.20181006/README.md">QCK workflows</a>
                <a class="dvdt-a-github" href="https://github.com/ctuning/ck-qiskit">CK-Qiskit workflows</a>
            </div>
        </div>

        <div class="container container-wrapped dvdt-card-partner">
            <div id="hackathon1"></div>
            <h3>1st QCK Hackathon, Cambridge, 15 June 2018</h3>
            <div class="dvdt-card-logos justify-content-around justify-content-md-start">
                <a href="http://rigetti.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-rigetti.svg" />
                </a>
                <a href="http://dividiti.com">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-dvdt.png" />
                </a>
                <a href="http://riverlane.io">
                    <img class="dvdt-card-logos-md" src="_resources/partners/logo-riverlane.png" />
                </a>
            </div>
            <div class="dvdt-card-desc">
            <p class="pt-2">
We held our first QCK hackathon in Cambridge, UK. (Also, to the best of our knowledge, this was the first quantum hackathon in Western Europe!)

Over 20 keen quantum programmers were given exclusive cloud access to Rigetti's 8-qubit Agave quantum computer and simulator.

We had participants with various backgrounds, ranging from secondary school students to PhD students and experienced professionals, most of whom had no prior experience programming quantum computers.
            </p>
            </div>
            <div class="dvdt-card-links">
                <a class="dvdt-a-text" href="https://riverlane.io/news/river-lane-research-and-dividiti-hold-western-europes-first-quantum-computing-hackathon/">Blog</a>
                <a class="dvdt-a-external" href="http://cKnowledge.org/dashboard/hackathon.20180615">QCK dashboard</a>
                <a class="dvdt-a-github" href="https://github.com/ctuning/ck-quantum/blob/master/module/hackathon.20180615/README.md">QCK workflows</a>
                <a class="dvdt-a-github" href="https://github.com/ctuning/ck-rigetti">CK-Rigetti workflows</a>
            </div>
        </div>

    </div>

{% endblock %}

{% block script %}
{% endblock %}
