{% set page = 'repo' %}
{% set title = 'Crowd Results' %}
{% extends 'ck.html' %}

{% block content %}

<div id="ck-repo-widget"></div>
<div id="ck-repo-widget-loading-layer">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>

{% endblock %}

{% block script %}

<script type="text/javascript">
    const widget = new CkRepoWdiget();
    widget.init(
        '#ck-repo-widget',
        '#ck-repo-widget-header',
        '#ck-repo-widget-loading-layer'
    );
</script>

{% endblock %}
