{% set page = 'repo' %}
{% set title = 'Crowd Results' %}
{% extends 'ck.html' %}

{% block content %}

<div id="ck-repo-widget"></div>
<div id="ck-repo-widget-loading-layer">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>

{% endblock %}

{% block script %}

<script type="text/javascript">
function initWidget() {
    let url = new URL(window.location.href);

    let scenario = '';
    let path = url.pathname;
    let dashboardStr = 'dashboard/';
    if (path.indexOf(dashboardStr) >= 0) {
        scenario = path.slice(path.indexOf(dashboardStr) + dashboardStr.length);

        let slashPos = scenario.indexOf('/');
        if (slashPos >= 0) {
            scenario = scenario.slice(0, slashPos);
        }
    }

    const widget = new CkRepoWidget();
    widget.init({
        isLocalRun: false,
        scenario: scenario,
        workflows: "/ck-repo-widget/workflows.json",
    });
}
initWidget();
</script>

{% endblock %}
