    <footer class="footer pt-3 pb-3">
        <div class="container mw-1440">
            <div class="d-flex justify-content-between mx-auto">
                <div class="d-none d-md-block text-center">
                    <a href="https://www.clustrmaps.com/map/Cknowledge.org">
                        <img src="https://www2.clustrmaps.com/stats/maps-no_clusters/Cknowledge.org-thumb.jpg" height="72" alt="Locations of visitors to this page">
                    </a>
                </div>
                <div class="text-left text-md-center">
                        <ul class="container-fluid nav justify-content-sm-start justify-content-md-center">
                            <li class="nav-item">
                                <a class="nav-link div-footer-nav-link" href="/quantum.html">
                                    Quantum challenges
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link div-footer-nav-link" href="/request.html">
                                    ACM ReQuEST tournaments
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link div-footer-nav-link" href="http://ctuning.org/ae">
                                    Artifact Evaluation
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link div-footer-nav-link" href="https://github.com/ctuning/ck/wiki/Publications">
                                    Publications
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="a2a_dd nav-link div-footer-nav-link" href="https://www.addtoany.com/share#url=http%3A%2F%2Fcknowledge.org%2F&amp;title=About%20cKnowledge%20framework">Share</a>
                                <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
                            </li>
                        </ul>
                    <div class="row pt20 pb10">
                        <span class="container-fluid dividiti-copyright">
                            &copy;&nbsp;2014-2019&nbsp;
                            <a href="https://cTuning.org">cTuning foundation</a>&nbsp;and&nbsp;<a href="http://dividiti.com">dividiti</a>
                        </span>
                    </div>
                </div>
                <div class="text-center">
                <table>
                    <tr>
                        <td><a href="http://twitter.com/grigori_fursin" class="social-icon-sm si-dark si-colored-twitter m-1">
                            <i><img class="footer-icon" src="/images/svg/twitter.svg"></i>
                            <i><img class="footer-icon" src="/images/svg/twitter.svg"></i>
                        </a></td>
                        <td><a href="https://www.linkedin.com/grp/home?gid=7433414" class="social-icon-sm si-dark si-colored-linkedin m-1">
                            <i><img class="footer-icon" src="/images/svg/linkedin-in.svg"></i>
                            <i><img class="footer-icon" src="/images/svg/linkedin-in.svg"></i>
                        </a></td>
                    </tr>
                    <tr>
                        <td><a href="https://dividiti.blogspot.com/" class="social-icon-sm si-dark si-colored-google m-1">
                            <i><img class="footer-icon" src="/images/svg/blogger-b.svg"></i>
                            <i><img class="footer-icon" src="/images/svg/blogger-b.svg"></i>
                        </a></td>
                        <td><a href="https://groups.google.com/forum/#!forum/collective-knowledge" class="social-icon-sm si-dark si-colored-google m-1">
                            <i><img class="footer-icon" src="/images/svg/comments.svg"></i>
                            <i><img class="footer-icon" src="/images/svg/comments.svg"></i>
                        </a></td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-5727962-14', 'auto');
      ga('send', 'pageview');
    </script>

    <SCRIPT TYPE="text/javascript" LANGUAGE="Javascript">
    <!-- 
    var url="https://fursin.net/cgi-bin/stats/ref.cgi";
    var dir="cknowledge.org2/";
    var ind="{{page}}";
    var ref=escape(document.referrer);
    document.write('<IMG SRC="'+url+'?dir='+dir+'&ind='+ind+'&ref='+ref+'" WIDTH=1 HEIGHT=1 ALT="">');
    //-->
    </SCRIPT>
    <NOSCRIPT>
    <IMG SRC="https://fursin.net/cgi-bin/stats/ref.cgi?dir=cknowledge-ck/&ind={{page}}"  WIDTH=1 HEIGHT=1 ALT="">
    </NOSCRIPT>
