<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link href="css/plugins/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    {% if page=='repo' %}
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="ck-repo-widget/widget.js"></script>
    <link rel="stylesheet" type="text/css" href="ck-repo-widget/widget.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
    {% endif %}
</head>
