
{% macro currentPage(page) %}
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid mw-1440">
            <a class="navbar-brand ml-0 mr-auto" href="/index.html">
              <img class="logo" src="/images/dividiti/logo.png">
              <div class="logo2">Collective<br><br>Knowledge</div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNav" class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto mr-0">
                    <li {%if page=='about' %}class="nav-item active" {% else %}class="nav-item"{% endif %} >
                        <a class="nav-link-dark div-nav-link" href="/index.html">
                            About
                        </a>
                    </li>
                    <li {%if page=='partners' %}class="nav-item active" {% else %}class="nav-item"{% endif %}>
                        <a class="nav-link-dark div-nav-link" href="/partners.html">
                            Partners
                        </a>
                    </li>
                    <li 
                    <li {%if page=='news' %}class="nav-item active" {% else %}class="nav-item" {% endif %}>
                        <a class="nav-link-dark visible div-nav-link" href="https://github.com/ctuning/ck/wiki/News-archive">
                            News
                        </a>
                    </li>
                    <li {%if page=='contacts' %}class="nav-item active" {% else %}class="nav-item" {% endif %}>
                        <a class="nav-link-dark visible div-nav-link" href="/contacts.html">
                            Contact us
                        </a>
                    </li>
                    <li {%if page=='github' %}class="nav-item active" {% else %}class="nav-item" {% endif %}>
                        <a class="nav-link-dark div-nav-link" href="https://github.com/ctuning/ck">
                            GitHub
                        </a>
                    </li>
                    <li {%if page=='repo' %} class="nav-item active" {% else %}class="nav-item" {% endif %}>
                        <a class="nav-link-dark div-nav-link div-nav-link-CTA" href="/dashboard">
                            Crowd results
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% if page=='partners' %}
        <nav class="subnav navbar-nav-scroll mw-1440">
            <ul id="partners-hor-scroll" class="navbar-nav flex-row">
                <li>
                    <a id="link-amazon" href="#amazon">Amazon</a>
                </li>
                <li>
                    <a id="link-gm" href="#gm">General Motors</a>
                </li>
                <li>
                    <a id="link-quantum" href="#quantum" class="anchor-link-active">Quantum CK</a>
                </li>
                <li>
                    <a id="link-request" href="#request" class="anchor-link-active">ReQuEST consortium</a>
                </li>
                <li>
                    <a id="link-tomtom" href="#tomtom">TomTom</a>
                </li>
                <li>
                    <a id="link-acm" href="#acm">ACM</a>
                </li>
                <li>
                    <a id="link-rpi" href="#rpi">Raspberry Pi foundation</a>
                </li>
                <li>
                    <a id="link-arm" href="#arm">ARM</a>
                </li>
                <li>
                    <a id="link-eu" href="#eu">7th Framework Programme</a>
                </li>
                <li>
                    <a id="link-eu" href="#eu">Tetracom</a>
                </li>
                <li>
                    <a id="link-glasgow" href="#glasgow">University of Glasgow</a>
                </li>
                <li>
                    <a id="link-glasgow" href="#glasgow">University of Edinburgh</a>
                </li>
                <li>
                    <a id="link-ens" href="#ens">ENS</a>
                </li>
                <li>
                    <a id="link-hartree" href="#hartree">Hartree Centre</a>
                </li>
                <li>
                    <a id="link-xored" href="#xored">Xored</a>
                </li>
                <li>
                    <a id="link-cambridge"  href="#cambridge">University of Cambridge</a>
                </li>
                <li>
                    <a id="link-imperial" href="#imperial">Imperial College London</a>
                </li>
                <li>
                    <a id="link-ctuning" href="#ctuning">cTuning Foundation</a>
                </li>
                <li>
                    <a id="link-dividiti" href="#dividiti">Dividiti</a>
                </li>
            </ul>
            <div id="partners-arrow-right"></div>
        </nav>
        {% endif %}
        {% if page=='repo' %}<div id="ck-repo-widget-header"></div>{% endif %}
    </nav>
{% endmacro %}