
{% macro currentPage(page) %}
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid mw-1440">
            <a class="navbar-brand ml-0 mr-auto" href="/index.html">
              <img class="logo" src="/images/dividiti/logo.png">
              <div class="logo2">Collective<br><br>Knowledge</div>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarNav" class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto mr-0">
                    <li {%if page=='about' %}class="nav-item active" {% else %}class="nav-item"{% endif %} >
                        <a class="nav-link-dark div-nav-link" href="/index.html">
                            About
                        </a>
                    </li>
                    <li {%if page=='partners' %}class="nav-item active" {% else %}class="nav-item"{% endif %}>
                        <a class="nav-link-dark div-nav-link" href="/partners.html">
                            Partners
                        </a>
                    </li>
                    <li 
                    <li {%if page=='news' %}class="nav-item active" {% else %}class="nav-item" {% endif %}>
                        <a class="nav-link-dark visible div-nav-link" href="https://github.com/ctuning/ck/wiki/News-archive">
                            News
                        </a>
                    </li>
                    <li {%if page=='contacts' %}class="nav-item active" {% else %}class="nav-item" {% endif %}>
                        <a class="nav-link-dark visible div-nav-link" href="/contacts.html">
                            Contact us
                        </a>
                    </li>
                    <li {%if page=='github' %}class="nav-item active" {% else %}class="nav-item" {% endif %}>
                        <a class="nav-link-dark div-nav-link" href="https://github.com/ctuning/ck">
                            GitHub
                        </a>
                    </li>
                    <li {%if page=='repo' %} class="nav-item active" {% else %}class="nav-item" {% endif %}>
                        <a class="nav-link-dark div-nav-link div-nav-link-CTA" href="/dashboard">
                            Crowd results
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% if page=='partners' %}
        <nav class="subnav navbar-nav-scroll">
        <ul id="partners-hor-scroll" class="navbar-nav flex-row">
                <li class="subnav-menu-item anchor-link-active" id="link-mlperf">
                    <a href="#mlperf">MLPerf</a>
                </li>
                <li class="subnav-menu-item" id="link-amazon">
                    <a href="#amazon">Amazon</a>
                </li>
                <li class="subnav-menu-item" id="link-gm">
                    <a href="#gm">General Motors</a>
                </li>
                <li class="subnav-menu-item" id="link-quantum">
                    <a href="#quantum">Quantum CK</a>
                </li>
                <li class="subnav-menu-item" id="link-request">
                    <a href="#request">ReQuEST consortium</a>
                </li>
                <li class="subnav-menu-item" id="link-tomtom">
                    <a href="#tomtom">TomTom</a>
                </li>
                <li class="subnav-menu-item" id="link-acm">
                    <a href="#acm">ACM</a>
                </li>
                <li class="subnav-menu-item" id="link-rpi">
                    <a href="#rpi">Raspberry Pi foundation</a>
                </li>
                <li class="subnav-menu-item" id="link-arm">
                    <a href="#arm">Arm</a>
                </li>
                <li class="subnav-menu-item" id="link-university_of_toronto">
                    <a href="#arm">University of Toronto</a>
                </li>
                <li class="subnav-menu-item" id="link-eu">
                    <a href="#eu">7th Framework Programme</a>
                    <a href="#eu">Tetracom</a>
                </li>
                <li class="subnav-menu-item" id="link-glasgow">
                    <a href="#glasgow">University of Glasgow</a>
                    <a href="#glasgow">University of Edinburgh</a>
                </li>
                <li class="subnav-menu-item" id="link-ens">
                    <a href="#ens">ENS</a>
                </li>
                <li class="subnav-menu-item" id="link-hartree">
                    <a href="#hartree">Hartree Centre</a>
                </li>
                <li class="subnav-menu-item" id="link-xored">
                    <a href="#xored">Xored</a>
                </li>
                <li class="subnav-menu-item" id="link-cambridge">
                    <a href="#cambridge">University of Cambridge</a>
                </li>
                <li class="subnav-menu-item" id="link-imperial">
                    <a href="#imperial">Imperial College London</a>
                </li>
                <li class="subnav-menu-item" id="link-ctuning">
                    <a href="#ctuning">cTuning Foundation</a>
                </li>
                <li class="subnav-menu-item" id="link-dividiti">
                    <a href="#dividiti">dividiti</a>
                </li>
            </ul>
            <div id="partners-arrow-left" class="submenu-arrow"><span class="dot"></span><span class="dot"></span><span class="dot"></span></div>
            <div id="partners-arrow-right" class="submenu-arrow"><span class="dot"></span><span class="dot"></span><span class="dot"></span></div>
        </nav>
        {% endif %}
        {% if page=='repo' %}<div id="ck-repo-widget-header"></div>{% endif %}
    </nav>
{% endmacro %}