$color: (
    text: #383838,
    text-grey: #f2f2f2,
    dark-grey: #383838,
    light-grey: #f7f9fa,
    container-grey: #eaeff4,
    link: #1f5a9f,
    link-hover: #1a4b86,
    menu-item: #6c7072,
    menu-item-active: #ef4e4e,
    white: white
);

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (min-width: 0) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/LeagueSpartan-Bold.otf');
    font-weight: bold;
    font-style: normal;
}


body {
    position: relative;
    height: auto;
    min-height: 100vh;
    color: map-get($color, text);
    font-family: Roboto;
    background-color: map-get($color, light-grey);
    line-height: 28px;
    font-size: 16px;
        @include mobile {
            font-size: 14px;
            line-height: 24px;
        }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: League Spartan;
    color: map-get($color, text);
}

a:hover {
     text-decoration: underline;
}

.container {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 960px;
        @include mobile {
            padding-left: 16px;
            padding-right: 16px;
        }
        &-wrapped {
            @include mobile {
                border-radius: 0px;
            }
            @include tablet {
                border-radius: 0px;
            }

            margin-bottom: 24px;
            padding: 8px 24px;
            width: 100%;
            border-radius: 8px;
            background: map-get($color, container-grey);

            &-sm {
            border-radius: 8px;
            background: map-get($color, container-grey);
            padding-bottom: 16px;
            margin-top: 16px;
                & > .dvdt-card-links {
                    margin: 0;
                }
            }
            &-br0 {
            margin: 0 auto 24px auto;
            padding: 8px 24px;
            width: 100%;
            border-radius: 0;
            background: map-get($color, container-grey);
            }
        }
}

.mw-1440 {
    max-width: 1440px;
}


h1, h2, h3, h6 {
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 1.5;
    letter-spacing: 0.0625em;
    text-align: left;
    text-transform: uppercase;
    margin: 16px 0px;
        @include mobile {
            font-size: 24px !important;
        }
        @include tablet {
            font-size: 24px !important;
        }
}

h2 {font-size: 21px !important;}

h3 {font-size: 16px !important;}

h6 {font-size: 12px !important;}

ul {padding-left: 16px;}

a {
    color: map-get($color, link);
    font-weight: 400;
    &:hover {
      color: map-get($color, link-hover);
    }
}

.w-single {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 20%;
        @include mobile {
            width: 33%;
        }
}

.w-double {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 30%;
        @include mobile {
            width: 66%;
        }
}

:target {
    display: block;
    position: relative;
    padding-top: 144px;
    margin-top: -144px;
    visibility: hidden;
  }

.dvdt {
    &-card {
        &-partner {
          margin-bottom: 48px;
          width: 100%;
          &>div:first-child {
            position: relative;
            left: 0;
          }
        }
        &-logos {
            display: flex;
            flex-flow: row wrap;
            align-content: flex-start;
            align-items: flex-end;
                @include mobile {
                  width: 100%;
                }
                &-sm {
                  height: 64px;
                  width: auto;
                  margin: 16px;
                  @include mobile {
                    height: 48px;
                  }
                }
                &-md {
                  height: 64px;
                  width: auto;
                  margin: 16px 48px 16px 0px;
                  text-align: left;
                      @include mobile {
                        max-height: 48px;
                      }
                }
                &-lg {
                  height: 72px;
                  width: auto;
                  margin: 16px 48px 16px 0px;
                  text-align: left;
                      @include mobile {
                        max-height: 64px;
                      }
                }
            }
        &-media {
            display: flex;
            flex-flow: row wrap;
                > *, img {
                    max-height: 153px;
                    max-width: 272px;
                    margin: 8px 24px 8px 0;
                }
                    @include tablet {
                        display: none;
                    }
                    @include mobile {
                        display: none;
                    }
        }
        &-links {
            margin: 16px 0;
            a {
                display: inline-block;
                font-weight: 400;
                line-height: 24px;
                vertical-align: middle;
                font-size: 14px;
                color: #1f5a9f;
                margin: 8px 24px 0 0;
                span {
                    border-bottom: 1px solid map-get($color, link);
                }
            }
            a:before {
                content: "";
                display: block;
                width: 16px;
                height: 24px;
                float: left;
                margin: 4px 8px 0 0;
            }

            .dvdt-a-github:before {
                background: url("../images/svg/github-s.svg") no-repeat;
                background-size: 16px 16px;
            }
            .dvdt-a-external:before {
                background: url("../images/svg/external.svg") no-repeat;
                background-size: 16px 16px;
            }
            .dvdt-a-document:before {
                background: url("../images/svg/doc.svg") no-repeat;
                background-size: 16px 16px;
            }
            .dvdt-a-video:before {
                background: url("../images/svg/video.svg") no-repeat;
                background-size: 16px 16px;
            }
            .dvdt-a-text:before {
                background: url("../images/svg/text.svg") no-repeat;
                background-size: 16px 16px;
            }
        }
    }
}

.div-get-started-item {
    font-family: Roboto;
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    color: #1f5a9f;
    margin-bottom: 24px;
    min-width: 160px;

    img {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        margin-bottom: 3px;
    }
    a {
        display: inline-block;
    }  
    a:hover {
        color: map-get($color, link-hover);
    }
}

.div {
    &-main-teaser {
        font-family: Raleway;
        font-weight: 700;
        line-height: 1.5;
        font-size: 21px;
        text-transform: none;
        letter-spacing: normal;
        margin: 0;

        @include mobile {
            font-size: 18px !important;
            line-height: 1.5 !important;
        }
        a {
            font-weight: 700;
        }
  	 }
     &-carousel {
        max-width: 600px;
        margin: 0 auto;
        border: 2px solid map-get($color, container-grey);
        box-shadow: 6px 8px 0px rgba(31, 90, 159, 0.15);

        &-indicators {
            position: absolute;
            bottom: -50px;
            display: flex;
            direction: columns;
            li {
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 4px;
                opacity: 0.8;
                background: map-get($color, container-grey);
                border: 1px solid rgba(31, 90, 159, 0.3);
                &.active {
                    background: map-get($color, link);
                    border: none;
                }
            }
        }
    }
    &-submenu-pill {
        position: absolute;
        z-index: 1001;
        left:-10px;
        top:2px;
        width:144px;
        height:24px;

        // background-color: transparent;
        background: map-get($color, container-grey);
        opacity:0.2;
        border-radius: 20px;
        border: 1px solid map-get($color, menu-item-active );

        pointer-events: none;
    }
}

.logo {
    width: auto;
    height: 40px;

    @include mobile {
        display: none;
    }
    @include tablet {
        display: none;
    }
}

.logo2 {
    font-family: League Spartan;
    font-size: 14px;
    line-height: 8px;
    color: map-get($color, link);
    margin: 4px 0 3px 0;

    @include desktop {
        display: none;
    }
}

.navbar-toggler {
    padding: 0;
    color: map-get($color, link) !important;
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(map-get($color, dark-grey), 0.2);
    z-index: 1000;

    &-nav {
        margin: 0;
    }
    &-nav-scroll {
        position: relative;
        margin-top: 8px;
        height: 32px;
        overflow: hidden;
        & ul {
            overflow-x: auto;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
            & li {
                font-size: 13px;
                padding-bottom: 30px;
            }
        }
    }
}

.subnav {
    margin: 8px auto 0 auto;
        @include desktop {
            padding: 0 15px;
        }
        & > ul {
            justify-content: flex-start;
            & > li {
                & > a {
                    text-decoration:none;
                    vertical-align: top;
                    border-bottom: 1px dotted map-get($color, menu-item);
                    // text-decoration-style: dotted;
                    // text-decoration-line: underline;
                    margin-right: 24px;
                &:hover {
                    text-decoration:none;
                    color: map-get($color, menu-item-active);
                    border-bottom: 1px dotted map-get($color, menu-item-active);
                }
            }
        }
    }
}

.navbar-expand-lg {
    flex-wrap: wrap;
}

.nav-link {
    padding: 0 16px;
        @include mobile {
          padding: 0 48px 12px 0;
        }
}

.footer {
        position: sticky;
        position: -webkit-sticky;
        top: 100%;
        color: map-get($color, light-grey);
        background-color: map-get($color, text);

        &-icon {
            width: 22px;
            height: 22px;
            padding-bottom: 3px;
        }

    .div-footer-nav-link {
        font-family: League Spartan;
        font-size: 11px;
        letter-spacing: 0.0625em;
        text-transform: uppercase;
        color: map-get($color, white);
        opacity: 0.8;
            &:hover {
                opacity: 1;
                text-decoration: underline
            }
    }

    .dividiti-copyright {
        text-align: center;
        font-family: Roboto;
        font-weight: 400;
        font-size: 14px;
        color: map-get($color, white);
        opacity: 0.8;
            @include mobile {
                text-align: left;
            }
        a {
            color: map-get($color, white);
            text-decoration: none;
                &:hover {
                    opacity: 1;
                    text-decoration: underline;
                }
        }
    }
}

.div-nav-link {
    font-family: League Spartan;
    font-size: 11px;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
    color: map-get($color, link);
    opacity: 0.8;

    @include mobile {
        line-height: 40px;
    }
    @include tablet {
        line-height: 40px;
    }
    &:hover {
        color: map-get($color, link);
        opacity: 1;
        text-decoration: none;
    }
    &-CTA {
        border: 2px solid map-get($color, link);
        padding: 9px 12px 6px 12px;

        &:hover {
            background-color: map-get($color, link);
            color: map-get($color, white);     
        }

        @include mobile {
            border: none;
            padding: 0;
    
            &:hover {
                color: map-get($color, link);
                background-color: map-get($color, white);
            }
        }
        @include tablet  {
            border: none;
            padding: 0;
    
            &:hover {
                color: map-get($color, link);
                background-color: map-get($color, white);
            }
        }
    }
}

.nav-link-dark {
    color: map-get($color, link);
    @include desktop {
        margin-left: 32px;
    }
}

.navbar-nav .active > a.div-nav-link{
    color: map-get($color, menu-item-active);
    padding-bottom: 6px;
    border-bottom: 2px solid map-get($color, menu-item-active);
    opacity: 1;
}
.nav-item > a:hover:not(.div-nav-link-CTA) {
    border-bottom: 2px solid map-get($color, menu-link); 
    padding-bottom: 6px;
}

.navbar-nav .active > a.div-nav-link-CTA {
    color: map-get($color, menu-item-active);
    padding-bottom: 6px;
    border: 2px solid map-get($color, menu-item-active);
    opacity: 1;

    &:hover {
        background-color: #ef4e4e;
        color: map-get($color, white);     
    }

    @include mobile {
        border: none;
        padding: 0;
        &:hover {
            color: map-get($color, menu-item-active); 
            background-color:transparent;
        }
    }
    @include tablet  {
        border: none;
        padding: 0;
        &:hover {
            color: map-get($color, menu-item-active); 
            background-color:transparent;
        }
    }
}

.counter-count {
    font-family: League Spartan;
    line-height: 56px;
    font-size: 40px;
    letter-spacing: 0.0625em;
    text-align: center;
}

.counter-count:after {
    content: "+";
    transition: 0.3s all ease-in;
}

.lead {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    a:hover {
      color: map-get($color, link);
    }
    @include mobile {
      font-size: 14px !important;
    }
}

.main-content {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.table {
    &-title {
      font-size: 14px;
      font-weight: 500;
      background-color: map-get($color, container-grey);
      border: 1px solid map-get($color, container-grey);
      padding: 8px 16px;
    }
    &-cell {
      padding-bottom: 16px;
      background-color: map-get($color, white);
      border: 1px solid map-get($color, container-grey);
    }
    &-img {
      width: 120px;
          @include desktop {
            width: 160px;;
          }
    }
}

.list-group {
    position: fixed;
    left: 32px;
    top: 128px;
}

.side-nad {
    position: fixed;
}

#partners-arrow {

    &-right {
        position: absolute;
        display:block;
        z-index: 100;
        width: 45px;
        height: 30px;
        right:0px;
        top:0px;
        text-align:right;
        cursor: pointer;
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 66%);
        @include desktop {
            right:15px;
        }
    }

    &-left {
        position: absolute;
        display:block;
        z-index: 100;
        width: 45px;
        height: 30px;
        left: 0px;
        top:0px;
        text-align:left;
        cursor: pointer;
        background: linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 66%);
        @include desktop {
            left:15px;
        }
    }
}
.dot {
    height: 3px;
    width: 3px;
    background-color: map-get($color, link);
    border-radius: 50%;
    margin-right:2px;
    display: inline-block;
    vertical-align: middle;
}

.ico {
    &-arrow {
        &-left {
            margin: 8px 0;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-right: 8px solid map-get($color, menu-item);
            border-bottom: 5px solid transparent;
            &:hover {
                border-top: 5px solid transparent;
                border-right: 8px solid map-get($color, menu-item-hover);
                border-bottom: 5px solid transparent;
            }
        }
        &-right {
            position: absolute;
            right: 0;
            margin: 8px 0;
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-left: 8px solid map-get($color, menu-item);
            border-bottom: 5px solid transparent;
        }
    }
}

.link-to-pdf:hover,
.link-to-html:hover,
.link-to-github:hover {
    position: relative;
    -webkit-box-shadow: 0 0 0 1px #1a4b86;
            box-shadow: 0 0 0 1px #1a4b86;
    z-index: 0;
}

.link-to-pdf:hover::before,
.link-to-html:hover::before,
.link-to-github:hover::before{
    display: block;
    height: 10px;
    content: “HTML”;
    font-size: 8px;
    line-height: 10px;
    font-family: roboto;
    color: white;
    background-color: #1a4b86;
    border-left: 4px solid #1a4b86;
    border-right: 4px solid #1a4b86;

    position: absolute;
    top: -10px;
    left: -1px;
    z-index: 10; 
}

.link-to-github:hover::before {
    content: “GITHUB”;
}

.link-to-pdf:hover::before {
 content: “PDF”; }

 .anchor-link-active > a {
    color: map-get($color, menu-item-active);
    border-bottom: 1px dotted map-get($color, menu-item-active) !important;
    &:hover {
        color: map-get($color, menu-item-active);
        border-bottom: 1px dotted map-get($color, menu-item-active);
    }
 }

 #ck-repo-widget-header {
    margin-left:auto;
    margin-right: auto;
 }